.container{
    width:550px;
    height:600px;
    background-color: rgb(181, 183, 184);
    left:30%;
    margin-top: 5%;
    position: relative;
    border:2px solid rgb(90, 106, 247);
    border-radius: 25px;
    box-shadow: 2px 2px 5px rgb(97, 143, 230);
}

.msg{
    color:rgb(255, 0, 0);
    margin: 60px;
    text-shadow: 0px 0px 1px rgb(255, 0, 0);
}
.uname{
    color:rgb(255, 0, 0);
    margin: 60px;
    text-shadow: 0px 0px 1px rgb(255, 0, 0);
}
.done{
    color:rgb(45, 175, 28);
    margin: 70px;
    text-shadow: 0px 0px 1px rgb(18, 236, 65);
}
.container h4{
    position: relative;
    margin: 30px;
    left: 30%;
    font-size: larger;
    color: rgb(7, 46, 218);
    text-shadow: 1px 0px rgb(23, 112, 212);
}
.lbl{
    margin-left:70px;
    position: relative;
    margin-top: 5px;
}
.container .txt{
    margin-left:70px;
    position: relative;
    border-radius: 20px;
    width: 40%;
    height: 20px;
    border: none;
    padding: 5px 0px 5px 20px;
    box-shadow: 2px 2px rgb(97, 143, 230);
    outline: none;
}
.container .btn{
    position: relative;
    border-radius: 20px;
    border: none;
    padding: 5px 15px;
    box-shadow: 2px 2px rgb(97, 143, 230);
    left: 40%;
    top: 10px;
    font-size: 15px;
}
#ctn2,#ctn4{
    position: relative;
    left: 30px;
    
}
#ctn6{
    position: relative;
    left: 27px;
}
#ctn8{
    position: relative;
    left: 40px;

}#ctn10{
    position: relative;
    left: -20px
}
#ctn14{
    position: relative;
    left: 53px;
    width:43%;
    height: 30px;
}
#ctn12{
    position: relative;
    left: 70px;
    width:43%;
    height: 30px;
}

.container .btn:hover{
    background-color: rgb(43, 141, 233);
    color: white;
    box-shadow: 2px 2px rgb(1, 11, 31);
}
/* #ctn2:hover,#ctn4:hover,#ctn6:hover,#ctn8:hover{
    width: 50%;
    box-shadow: 2px 2px rgb(97, 143, 230);
    left:5px;
    box-shadow: 2px 2px rgb(1, 11, 31);
}
#ctn14:hover{
    width: 53%;
    box-shadow: 2px 2px rgb(97, 143, 230);
    left:18px;
    box-shadow: 2px 2px rgb(1, 11, 31);
}
#ctn12:hover{
    width: 53%;
    box-shadow: 2px 2px rgb(97, 143, 230);
    left:35px;
    box-shadow: 2px 2px rgb(1, 11, 31);
}
#ctn10:hover{
    width: 48%;
    box-shadow: 2px 2px rgb(97, 143, 230);
    left:-35px;
    box-shadow: 2px 2px rgb(1, 11, 31);
}  */
.container .a{
    position: relative;
    left: 110px;
    top: 0px;
    margin: 35px;
}
